@use '../colors.scss';
@use '../functions.scss' as *;

<<<<<<< HEAD:tgui-next/packages/tgui/styles/components/ProgressBar.scss
$color-default: colors.bg(colors.$primary) !default;
$color-background: rgba(0, 0, 0, 0) !default;
$border-radius: 0 !default;
=======
$color-default-fill: colors.bg(colors.$primary) !default;
$background-color: rgba(0, 0, 0, 0) !default;
$border-radius: base.$border-radius !default;
>>>>>>> 8e72c61d2d002ee62e7a3b0b83d5f95aeddd712d:tgui/packages/tgui/styles/components/ProgressBar.scss
$bg-map: colors.$bg-map !default;

.ProgressBar {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 6px;
  border-radius: $border-radius;
  background-color: $background-color;
  transition: border-color 500ms;
}

.ProgressBar__fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: background-color 500ms, width 500ms;
}

.ProgressBar__content {
  position: relative;
  line-height: 17px;
  width: 100%;
  text-align: right;
}

.ProgressBar--color--default {
<<<<<<< HEAD:tgui-next/packages/tgui/styles/components/ProgressBar.scss
  border: 1px solid $color-default;
=======
  border: base.em(1px) solid $color-default-fill;
>>>>>>> 8e72c61d2d002ee62e7a3b0b83d5f95aeddd712d:tgui/packages/tgui/styles/components/ProgressBar.scss

  .ProgressBar__fill {
    background-color: $color-default-fill;
  }
}

@each $color-name, $color-value in $bg-map {
  .ProgressBar--color--#{$color-name} {
    border: 1px solid $color-value !important;

    .ProgressBar__fill {
      background-color: $color-value;
    }
  }
}
