@use 'sass:color';
@use '../colors.scss';
@use '../functions.scss';

$title-text-color: base.$color-fg !default;
$background-color: base.$color-bg-section !default;
$separator-color: colors.$primary !default;
$shadow-color: rgba(0, 0, 0, 0.5) !default;
$shadow-type: inset !default;
$shadow-size: 0.5em !default;
$shadow-offset: 0 0 !default;

.Section {
  position: relative;
<<<<<<< HEAD:tgui-next/packages/tgui/styles/components/Section.scss
  margin-bottom: 6px;
  // IE8: Does not support rgba colors
  background-color: color.adjust(
    $color-background,
    $lightness: 10%,
    $alpha: 1);
  background-color: $color-background;
  box-shadow: inset 0 0 5px $color-shadow;
=======
  margin-bottom: 0.5em;
  background-color: functions.fake-alpha($background-color, base.$color-bg);
  background-color: $background-color;
>>>>>>> 8e72c61d2d002ee62e7a3b0b83d5f95aeddd712d:tgui/packages/tgui/styles/components/Section.scss
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.Section__title {
  position: relative;
<<<<<<< HEAD:tgui-next/packages/tgui/styles/components/Section.scss
  padding: 6px;
  border-bottom: 2px solid $color-separator;
=======
  padding: 0.5em;
  border-bottom: base.em(2px) solid $separator-color;
>>>>>>> 8e72c61d2d002ee62e7a3b0b83d5f95aeddd712d:tgui/packages/tgui/styles/components/Section.scss
}

.Section__titleText {
  font-size: 14px;
  font-weight: bold;
  color: $title-text-color;
}

.Section__buttons {
  position: absolute;
  display: inline-block;
  right: 6px;
  margin-top: -1px;
}

.Section__content {
  padding: 8px 6px;
}

.Section--iefix.Section--fill {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  border-collapse: collapse;
  border-spacing: 0;

  & .Section__content {
    display: table-row !important;
    height: 100% !important;
  }
}

.Section--scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.Section--level--1 .Section__titleText {
  font-size: 14px;
}

.Section--level--2 .Section__titleText {
  font-size: 13px;
}

.Section--level--3 .Section__titleText {
  font-size: 12px;
}

.Section--level--2,
.Section--level--3 {
  background-color: transparent;
  box-shadow: none;
  margin-left: -6px;
  margin-right: -6px;
}
